/* 上部分 */
.my_cart{
  padding-bottom: 20px;
}
/* 面包屑导航 */
.crumbs{
  margin: 10px 0;
}
.crumbs>a{
  color: #666;
}
.crumbs>a:hover {
  color: #ff6600;  
}
/* 左边 */
.my_cart_left{
  background: #fff;
  padding: 10px;
}
.my_cart_img{
  cursor: crosshair;
}
.cart_img{
  cursor: pointer;
  border: 1px solid #f2f2f2;
}
.cart_img:hover{
  opacity: 1;
  border: 1px solid #FF6600;
}
.text{
  text-align: center;
}
/* 关于分享 */
.share{
  padding: 12px 0;
  border-bottom: 1px #e2e2e2 dashed;
}
.share_icon{
  width: 19px;
  height: 15px;
  display: inline-block;
  background: url(../images/cart/sc.png) 2px -25px;
  margin-left: 10px;
}
.share_collect,.infoCoding,.share_icon{
  line-height: 30px;
}
.share_tit {
  padding: 0 9px;
  height: 22px;
  line-height: 22px;
  background: #fafafa;
  border: solid 1px #c2c2c2;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 61px;
}
.tit_icon{
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../images/cart/share-sef3db69c23.png) no-repeat;
  background-position: -16px -19px;
}
.tit_arrow{
  border: solid 3px transparent;
  border-top-color: #999;
  top: 11px;
}
/* 右边 */
.my_cart_right{
  width: 618px;
  padding: 20px;
  background: #fff;
}
.name{
  color: rgb(51, 51, 51);
  font-size: 24px;
}
.my_cart_price{
  margin: 25px 0 0;
  background: #F1F1F1F1;
}
.c999 {
  color: #999;
}
.c93c {
  color: #e3393c;
}
.my_cart_p1{
  padding: 20px 0 0 20px;
}
.my_cart_p2{
  padding: 10px 0 20px 20px;
}
.personal_xx{
  height: 60px;
  line-height: 25px;
  padding: 20px 0;
}
.personal_xx ul li{
  width: 20%;
  text-align: center;
  border-right: 1px solid #eee;
  padding: 10px 0;
}
.personal_xx ul li:last-child{
  border: 0;
}
.server_label {
  height: 24px;
  line-height: 24px;
  width: 23%;
  border-radius: 5px;
  margin: 5px 10px 0 0;
}
.server_label_blue{
  color: #23b7ff;
  border: 1px solid #23b7ff;
}
.server_label_green {
  color: #24b895;
  border: 1px solid #24b895;
}
.server_label_orange {
  color: #ff6000;
  border: 1px solid #ff6000;
}
.server_label_red {
  border: 1px solid #ff5656;
  color: #ff5656;
}
.mt7{
  margin-top: 7px;
}
.i_color,.delivery,.num{
  padding-top: 12px;
}
.color_name,.del_city,.num_buy{
  margin-left: 16px;
}
.color_name li,.del_city{
  padding: 5px 17px;
  border: 1px solid #ccc;
}
.color_name li{
  padding-right: 0px;
  cursor: pointer;
}
.color_name li:hover{
  color: #ff6000;
  border: 1px solid #ff6000;
}
.w62{
  width: 62px;
}
.del_city{
  cursor: pointer;
}
.del_city em{
  display: inline-block;
  width: 9px;
  height: 8px;
  background: url(../images/cart/toolbar.png) no-repeat -22px -61px;
}
.goods_select {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url(../images/cart/goods-select.png) 0 0 no-repeat;
  top: 8px;
  left: 2px;
}
.num_buy{
  border: 1px solid #e0e0e0;
}
.reduce_l,.reduce_r{
  display: inline-block;
  width: 26px;
  height: 28px;
  border-right: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
}
.reduce_r{
  border-right: none;
  border-left: 1px solid #ccc;
}
.num_buy input{
  width: 50px;
  height: 20px;
  border: none;
}
.shopping{
  margin-left: 60px;
  margin-top: 41px;
}
.cart_add,.cart_buy{
  display: inline-block;
  width: 253px;
  height: 47px;
  text-indent: -9999px;
  background: url(../images/cart/shop.png) 0 -116px no-repeat;
  margin-right: 20px;
}
.cart_buy{
  width: 168px;
  background: url(../images/cart/shop.png) -282px -116px no-repeat;
}
/* 下部分 */
.l_side {
  width: 220px;
  display: inline;
  background: #fff;
}
.l_side ul{
  flex-wrap: wrap;
} 
.l_side ul li{
  width: 200px;
  height: 260px;
  border-top: 1px dashed #ccc;
} 
.l_side ul li:first-child{
  border: 0;
}
.l_side a{
  margin: 10px 10px;
}
.l_side_tit{
  height: 40px;
  line-height: 40px;
  background: #FFB000;
  color: #342E2E;
  font-weight: 700;
  text-align: center;
}
.other_name{
  height: 25px;
  margin: 10px auto 0;
}
.other_price{
  color: #f74447;
  width: 176px;
  margin: 2px auto 0;
}
.other_price del{
  color: #aaa;
  padding-left: 10px;
}
.r_side{
  width: 860px;
  background: #fff;
  margin-left: 20px;
}
.r_side_nav{
  height: 58px;
  line-height: 58px;
  border-top: 2px solid #e60000;
}