/*设置通用样式*/
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,dt,button{
    margin: 0;
    padding: 0;
}
body {
    color: #666;
    background: #F1F1F1;
}
/* 设置a标签 */
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
/* 设置图片 */
img{
    border: 0px;
}
/* 设置ul列表 */
ul{
    list-style: none;
    display: flex;  
}
/* 设置浮动 */
.lf {
    float: left;
}
.rt {
    float: right;
}
.clear:after{
    content:"";
    display: block;
    clear: both;
}
.clear-both{
    clear: both;
}
/* 设置内外边距 */
.ma{
    margin:0 auto;
}
/* 设置宽度 */
.w-1100{
    width: 1100px;
}
.w-100{
    width: 100%;
}
/* 设置边距 */
.mr5{
    margin-right: 5px;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.ml20{
    margin-left: 20px;
}
/* 设置颜色 */
.red{
    color:#f00;
}
.white{
    color: #fff;
}
.c999{
    color: #999;
  }
/* 设置定位 */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
/* 设置文本 */
.ft10{
    font-size: 10px;
}
.ft12{
    font-size: 12px;
}
.ft14{
    font-size: 14px;
}
.ft16{
    font-size: 16px;
}
.ft18{
    font-size: 18px;
}
.ft20{
    font-size: 20px;
}
.bold {
    font-weight: 700;
}
.price_font{
    font-size: 34px;
}
.through {
    text-decoration: line-through;
}