/* product_option部分 */
.product_option {
  width: 100%;
  background: #fff;
}
.product_option1:not(:last-child) {
  display: inline-block;
  border-bottom: 1px solid #eee;
}
.product_option1L {
  width: 90px;
}
.product_option1L h3 {
  width: 80px;
  text-align: right;
  padding-right: 20px;
  font-weight: 100;
} 
.product_add_nav {
  height: 40px;
}
.product_option1L,.product_add_nav a,.product_add_nav span {
  color: #999;
  line-height: 40px;
}
.product_searchC, .product_option1C {
  width: 860px;
}
.side_option {
  height: 35px;
  overflow: hidden;
}
.product_option1C ul li {
  height: 30px;
  line-height: 30px;
  margin-top: 6px;
}
.product_option1C3 a {
  padding: 0 10px;
  color: #fff;
  border: 1px solid #ff6000;
  background: #ff6000;
}
.product_option1C1 a {
  padding: 0 10px;
  color: #666;
  border: 1px solid #fff;
  white-space: nowrap;
}
.product_option1R {
  width: 60px;
  margin-right: 32px;
}
.product_option1R a {
  text-indent: 15px;
  width: 100%;
  background: url(../images/details/product_option1Rbg1.png) no-repeat right;
  color: #ff6000;
}
/* 萌宠列表 */
.sort{
  background: #fff;
}
.sort_left ul li {
  padding: 10px 26px;
  border: 1px solid #ddd;
}
.sort_left ul li a {
  width: 52px;
  display: block;
}
.paixu1 {
  background: url(../images/details/paixu-ico.png) no-repeat 29px -13px;
}
.paixu2 {
  background: url(../images/details/paixu-ico.png) no-repeat 29px -189px;
}
.text_center{
  text-align: center;
}
.active {
  background: #ff6000;
}
.sort_left ul li a:hover {
  color: #ff6000;
}
.list_icon1,.list_icon2 {
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 6px;
  background: url(../images/details/list_icon.png) no-repeat -9px -62px;
}
.list_icon2 {
  margin-right: 16px;
  background: url(../images/details/list_icon.png) no-repeat -37px -62px;
}
.p1,.p2 {
  margin: 2px 12px 0 0;
}
.p1 {
  color: #999;
}
/* goods */
.goods_list {
  width: 240px;
  padding: 10px 10px 15px 10px;
  background: #fff;
}
.goods_list img {
  width: 240px;
  transition: all 0.5s linear;
}
.goods_list img:hover {
  transform: scale(1.05);
}
.goods_price1 {
  color: #fff;
  background: linear-gradient(to right,#f10180 30%,#fe4e05 100%);
  height: 33px;
  margin-top: -4px;
}
.span1,.span2 {
  display: block;
  margin: 9px 0 0 14px;
}
.span2 {
  margin: 5px 0 0 -4px;
}
.span3 {
  font-size: 24px;
  margin: 2px 0 0 2px;
}
.goods_price2 span:first-child{
  margin: 9px 2px 4px 2px;
  padding: 3px 0;
}
.goods_price2 span:not(:first-child){
  margin: 9px 2px 4px 0;
  padding: 3px 0;
}
.goods_infor a{ 
  font-size: 15px;
  width: 240px;
  margin-top: 4px;
}
.c333{
  color: #333;
}
.mb3{
  margin-bottom: 3px;
}
.ff6{
  color: #ff6000;
}
.pages {
  height: 39px;
  line-height: 39px;
}
.disabled {
  color: #bfbfbf;
  background: #f2f2f2;
  border: 1px solid #bfbfbf;
}
.pages a {
  color: #FF8A00;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  background: #f7f7f7;
}
.pages a.current {
  color: #fff;
  background: #FF8A00;
  border-color: #FF8A00;
}
.next+span{
  margin: 0 10px 0 14px;
}
.go_page_text,.btn {
  width: 35px;
  height: 32px;
  border: 1px solid #e6e6e6;
  text-align: center;
  margin: 0 3px 0 3px;
  outline: 0;
}
.btn {
  width: 43px;
  height: 39px;
  border-radius: 4px;
  background: #f7f7f7;
  border: 1px solid #ddd;
}