body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, i, b {
    margin: 0;
    padding: 0;
}
body{
    color: #666;
    background: #F1F1F1;
}
/* top部分样式 */
.footer-top,.footer-main,.footer-bot{
		width: 1100px;   
    margin: auto;
}
ul{
	list-style: none;
}
.ds{	
	height: 120px;	
	display: flex;
	justify-content: space-between;	
}
.ds-a{  
  font-weight: 700;   
	margin: 42px 0 25px -48px;
}
.ds li{
	transition: all .8s ease;
}
.ds li:hover {
    transform: translateY(-5px);    
}
.ds li a:hover {
    color: #ff6600;  
}
a{
	color: #000;
	text-decoration: none;   
}
hr{	
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* main部分样式 */
.footer-main{
	display: flex;
	justify-content: space-around;	
}
.fl{
	float:left;
}
.bold {
    font-weight: 700;
}
.c444 {
    color: #444;
}
.ft14 {
    font-size: 14px;
}
.ft12 {
    font-size: 12px;
}
.ft20 {
    font-size: 20px;
}
.ml10{	
	margin-left: 128px;
}
.mt20{
	margin-top: 20px;
}
.mt10{
	margin-top: 10px;
}
.mt5{
	margin-top: 5px;
}
.w-92{
	width: 92px;
}
.ftc {
    text-align: center;
}
.mr42{
	margin-right: -42px;
}
/*bottom部分样式*/
.c999 {
    color: #999;
}
.ml5 {	
	margin-left: 10px;
}
.footer-copy p {
    color: #000;
}