/* banner部分 */
.banner{
  height: 475px;
  border: 1px solid #f00;
}

/* section部分 */
/* 服务消息 */
.new{
  display: flex;
  background: #fff;
}
.new-main{
  width: 415px;
  height: 200px;
  padding: 0 8px;
  float: left;
  margin-left: 10px;
}
.ml10{
  margin-left: 10px;
}
.new-nav{
  font-size: 12px;
  border: 1px solid #eee;
  padding: 5px 10px;
  margin-top: 15px;
}
.new1,.new2{
  width: 45px;
  height: 45px;
  background: url(../images/index/index_licfeli.png) no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  margin-top: 5px;
}
.new2{
  background-position-x: 89%;
}
.new1_title{
  line-height: 30px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.new1_info{
  font-size: 12px;
  color: #333333;
}
.new-content{
  height: 120px;
  margin-top: 10px; 
}
.new-content ul{
  width: 440px;
  font-size: 14px;
  flex-direction: column;
}
.new-content ul li a{
  line-height: 30px;
}
/* 优质推荐 */
.main_title{
  height: 68px;
  background: #fff;
  padding: 0 25px;
  border: 1px solid #eee;
}
.main_title h2 {
  line-height: 68px;
  font-size: 20px;
  color: #333;
}
.main_title h2 a:hover {
  color: #FF6600;
}
.main_title p {
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  text-align: right;
  margin-top: 32px;
}
.main_title p a {
  margin-left: 20px;
  color: #999;
}
/* main_content部分 */
.main_content,.main_content_m{
  background: #fff;
  display: flex;
  flex-wrap: wrap; 
}
/* main_content_left部分 */
.main_content_left {
  width: 250px;
  height: 100%;
}
.main_content_left_ad {
  width: 249px;
  height: 239px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.main_content_left_ad img {
  width: 249px;
  height: 239px;
}
.main_content_left_ad:hover img{
  transition: 0.2s; 
  transform: scale(1.1); 
  transition: all 1s ease 0s;
  transform: scale(1.1);
  transform: all 1s ease 0s;
}
.adicon {
  background: url(../images/index/adicon.png) no-repeat;
  bottom: 0;
  width: 37px;
  height: 17px;
}
.main_content_left ul {
  display: block;
  border-bottom: 1px solid #eee;
  height: 239px;
  overflow: hidden;
}
.main_content_left ul li {
  width: 124px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  overflow: hidden;
  text-indent: 15px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main_content_left ul li:hover {
  background: #F6F6F6;
}
.main_content_left ul li a {
  width: 94%;
  height: 100%;
  display: block;
  color: #999;
}
.main_content_left ul li:hover a {
  color: #ff6600;
  text-indent: 10px;
}
/* main_content_center部分 */
.main_content_center {
  width: 850px;
  height: 100%;
}
.main_content_img1 {
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 13px;
}
.mb4{
  margin-bottom: 4px;
}
.main_content_center li {
  width: 294px;
  padding: 10px 7px 10px 7px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.through {
  text-decoration: line-through;
}
/* 猜你喜欢 */
.mt12{
  margin: 12px 0 0 12px;
}
.main_content_m{
  margin: 10px;
}
.main_content_list{
  margin: 5px;
  border: solid 1px #eee;
}
.main_content_img2{
   width: 348px;
}
.main_content_p1{  
  margin: 10px 0px;
}
.w-360{
  width: 360px;
}
.mr5{
  margin-right: 5px;
}
/* .main_content_price{
  color: #ff6000;
  font-size: 20px;
}
.main_content_p2{
  font-size: 12px;
  color: #333;
}
.main_content_blue{
  color: #23b7ff;
  border: 1px solid #23b7ff;
}
.main_content_green {
  color: #24b895;
  border: 1px solid #24b895;
}
.main_content_orange {
  color: #ff6000;
  border: 1px solid #ff6000;
}
.mlr10{
  margin: 0 4px;
} */












.floor{
  height: 400px;
  border: 1px solid #eee;
  margin-top: 20px;
}